/**
 * base.css. Используется для установки базовых CSS-значений,
 * для описания стилей, используемых в стандартных расширениях
 *
 * @package     Joostina
 * @subpackage  templates/NewLine
 * @version     $Id: base.css 2009-01-31 11:05 ZaiSL $;
 */
body.mceContentBody {
	background: #FFF;
}
h1, .componentheading {
	color: #4B8EC2;
	font: 24px "Lucida Sans Unicode", "Lucida Grande", "Myriad Pro", sans-serif;
	margin: 0.3em 0;
}
h2, h3 {
	font: normal 22px "Lucida Sans Unicode", "Lucida Grande", "Myriad Pro", sans-serif;
	margin: 0.3em 0;
}
h4, h5, h6 {
	font: bold 13px "Lucida Sans Unicode", "Lucida Grande", "Myriad Pro", sans-serif;
	margin: 0.2em 0;
}
h2 {
	font-size: 18px;
}
strong {
	font-weight: bold;
}
.small, .createdate {
	font-size: 11px;
}
.date {
	background: url(../images/date.png) no-repeat top left;
	padding: 0 0 0 20px;
    font-size: 11px;
    font-weight:bold;
}
.author{
    font-size: 11px;
    font-weight:bold;
}

span.email{
background: url(../images/elements/mail.png) no-repeat left;
	padding: 0 0 3px 21px;
    text-decoration: none;
}
a.email{
	padding: 0 0 1px 2px;
    text-decoration: none;
    border-bottom: 1px dashed #CCC;
}
span.edit{
background: url(../images/elements/edit.png) no-repeat left;
	padding: 0 0 3px 21px;
    text-decoration: none;
}
a.edit{
	padding: 0 0 1px 2px;
    text-decoration: none;
    border-bottom: 1px dashed #4B8EC2;
    font-weight: bold; color: #4B8EC2;
}
a.edit:hover{
	padding: 0 0 1px 2px;
    text-decoration: none;
    border-bottom: 1px dashed #D43015;
    font-weight: bold; color: #D43015;
}

.online {
	background: url(../images/bullet_green.png) no-repeat left;
	padding: 2px 0 2px 11px;
}
.offline {
	background: url(../images/bullet_red.png) no-repeat left;
	padding: 2px 0 2px 11px;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
abbr, acronym {
	border-bottom: 1px dotted #000;
	cursor: help;
}
em {
	font-style: italic;
}
blockquote, ul, ol, dl {
	margin: 1em;
}
ol, ul, dl {
	margin-left: 2em;
}
ol li {
	list-style: decimal outside;
}
ul li {
	list-style: disc outside;
}
dl dd {
	margin-left: 1em;
}
th {
	font-weight: bold;
	text-align: center;
}
caption {
	margin-bottom: .5em;
	text-align: center;
}
p, fieldset, pre {
	margin-bottom: 1em;
}
input [ type = text ], input [ type = password ], input.inputbox, input.text_area,  textarea.inputbox, select.inputbox, textarea.inputbox, textarea.text_area {
	border: 2px solid #EAE6DF;
	color: #828282;
	margin: 0 5px 5px 1px;
	padding: 2px 6px;
}
.inputbox.error{
    border: 2px solid red;
}


select.inputbox {
	padding: 2px;
}
*:first-child + html input [ type = radio ] {
	margin: 0;
}
.mosimage {
	margin: 2px 10px 0 0;
	padding: 0;
}
.mosimage_caption {
	font: bold 11px "Century Gothic";
}
.mosimage img {
	padding: 2px;
	border: 1px solid #CCCCCC;
}

/* Подчищаем меню от всяких ненужностей  */
ul#mainlevel, ul#mainlevel li, ul#mainlevel-nav, ul#mainlevel-nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* Элементы таблиц  */
table th {
	background: #EAECDE;
	padding: 4px;
	font-weight: bold;
}
table tr.sectiontableentry2 {
	background: #F2F3EB;
}
tr.sectiontableentry1 td, tr.sectiontableentry2 td {
	padding: 4px 2px;
}
td.sectiontableheader {
	background: #EAECDE;
	font-weight: bold;
	padding: 5px 2px;
}
/* Задаем базовые параметры для оформления модулей  */
.moduletable {
	margin: 2px 0 25px 0;
	padding: 0 0 10px 0;
}

/* Табы  */
table.adminform {
	border: none;
	margin: 5px 10px 0 5px;
	padding: 0 2px 0px 0;
	width: 90%;
}
.dynamic-tab-pane-control .tab-row .tab {
	background-color: #E2E2E2;
	background-image: none;
	border: 1px solid white;
	cursor: pointer;
	display: inline;
	float: left;
	font: normal 11px Tahoma, Arial, Verdana, sans-serif;
	height: 16px;
	margin: 4px -1px 0 4px;
	overflow: hidden;
	padding: 2px 6px 4px 6px;
	position: relative;
	top: 0;
	white-space: nowrap;
	width: auto;
	z-index: 1;
}
#userInfo.dynamic-tab-pane-control .tab-page {
	background: #fcfcfe;
	border-top: 2px solid #e7e7e7;
	float: left;
	margin-left: 1px;
	padding: 20px;
	position: relative;
	text-align: left;
	top: 0;
	z-index: 0;
}
table#toolbar a.toolbar, table#toolbar a.toolbar img {
	border: none;
}
#mosUserForm td.pkey {
	font-weight: bold;
	width: 200px;
}
#mosUserForm textarea, #mosUserForm input {
	width: 90%;
}
#mosUserForm table#table_userprofile {
	padding: 10px 0 0 0;
}
iframe #blockrandom {
}
.com_wrapper {
	overflow: auto;
}

.indicator{
	height:20px;
}
.inprogress {
 background: url(../images/elements/loader.gif) no-repeat  left;
 padding: 0 0 0 22px;  	
}

/*-------------------------------пагинация*/
span.pagenav{color:#FE0693;}
.pagenavigation{padding:20px 0 20px 0;clear:both;}
.pagenavigation ul{list-style:none;padding:0;margin:0;}
.pagenavigation ul li{list-style:none;padding:3px;font-size:11px;display:inline;}
.pagenavigation ul li a{padding:3px 5px 3px 5px;text-decoration:none;font-size:11px;background:#D8E6F1;border:1px solid #9BC7EA;color:#000;}
.pagenavigation ul li a:hover{background:#C3DDF1;}
li.first_page span,li.last_page span{display:none;visibility:hidden;}
.pn_nav{text-align:center;margin:15px 0 20px 0;clear:both;}
.pn_nav a{color:#FFF;font-weight:bold;font-size:11px;margin:0 5px;background:#656565;border:3px solid #D0D0D0;padding:5px 6px;text-decoration:none;}
.pn_nav a:hover{color:#FDCDEB;background:#000;border:3px solid #656565;


