/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>---com_content---<<<<<<<<*/
/*------Заголовки------*/
a.contentpagetitle {
	font: normal 18px/26px "Lucida Sans Unicode", "Lucida Grande", "Myriad Pro", sans-serif;
	text-decoration: none;
	color: #4B8EC2;
}
a.contentpagetitle:hover {
	text-decoration: underline;
}
.contentheading {
	color: #5B5B5B;
	font: normal 18px/26px "Lucida Sans Unicode", "Lucida Grande", "Myriad Pro", sans-serif;
	margin: 5px 0 4px 0;
}
.buttons_wrap{
    float: right; text-align: right;
}


/*------Описания------*/
.contentdescription {
	background: #F0F2E4;
	border: 1px solid #EAECDE;
	clear: both;
	overflow: hidden;
	padding: 10px;
}
.contentdescription img {
	border: 3px solid #DCDED4;
	margin: 0 10px 0 0;
}
.category_name, section_name {
	font-weight: bold;
	background: url(../images/elements/arrow.png) no-repeat center left;
	display: block;
	padding: 0 0 0 15px;
	font-size: 11px;
}
/*------Режим БЛОГА------*/
.intro{
    overflow: hidden;
    margin: 4px 0 18px 0;
}
.blog .intro_table td {
	padding-right: 15px;
}
.leading_block {
	border-bottom: 1px dashed #CCC;
	margin: 5px 0 15px 0;
	padding: 15px;
}
table.intro_block td {
	padding: 4px 10px 5px 2px;
}
div.section_cat {
	background: url(../images/elements/arrow.png) no-repeat center left;
	padding: 6px 0 10px 14px;
    font-weight: bold;
    margin: 0;
}
div.section_cat a {
	font-weight: bold;
}
/*Ссылка "Подробнее" */
a.readon {
	color: #616161;
	font-weight: bold;
    font-size: 11px;
    background: url(../images/elements/arrow.png) no-repeat center left;
    padding: 0 0 0 15px;
}
.article_seperator {
	height: 1px;
}
/*-----Редактирование содержимого-----*/
table.cedit_misc {
	margin: 5px 0 20px 0;
}
table.cedit_main {
	margin: 5px 0 20px 0;
}

.groupcats h2.category_name{
    font-size: 18px; margin: 15px 0 2px 0;
    padding: 5px 0 5px 20px;
}

.blog .edit_item{
    margin: 6px 0 0 0;
}


.blog .button.edit_button{
    text-decoration: none;
    font-size:11px; font-weight: bold;
}

.table_of_items span.button, .table_of_items a.button{
    display: block; float: left; line-height: 22px; height: 22px;
}
.table_of_items span.button {
    margin: 0 5px 0 0;
}
.table_of_items span.button img {
    margin: 2px 0 0 0;
}





.jstProfile_menu{
     clear: both;
    background: #EAECDE;
    padding:10px;
    overflow:hidden;
    margin: 22px 0 0 0;
}
.jstProfile_menu ul,
.jstProfile_menu ul li{
    list-style: none;
    margin:0;
    padding: 0;
}

.jstProfile_menu ul li{
    margin: 0 3px 0 0;
    display: block;
    float: left;
}
.jstProfile_menu ul li a{
    padding:1px 4px 2px  4px;
    display: block;
    float: left;
    background: #A0A59E;
    color: #FFF;
    font-size:11px;
    text-decoration: none;
}
.jstProfile_menu ul li a:hover,
.jstProfile_menu ul li a.active
{
background: #4B8EC2;
}

.jstProfile_info{
    overflow: hidden;
    margin: 0 0 10px 0;
}


.jstProfile_info .avatar{
    float: left;
    margin: 0 20px 0 0;
}

.last_visite{
    display: block;
}

.plugins_area{
    padding: 0 0 0 15px;
}

.page_edit_profile .user_buttons{
	padding: 10px 0 0 0;

}
.page_edit_profile .upload_area{
	padding: 10px 0 0 0;

}







/* -----------------------------------------------------Компонент "Опросы"   */
.poll_quest {
/* Текст вопроса   */
	background: url(../images/blue_arrow.png) no-repeat top left;
	padding: 2px 0 2px 30px;
	vertical-align: middle;
}
table.com_poll {
	width: 100%;
}
table.com_poll th.poll_question {
	width: 35%;
}
table.com_poll th.poll_hits {
	width: 7%;
}
table.com_poll th.poll_percent {
	width: 7%;
}
table.com_poll th.poll_graph {
}
table.com_poll td {
	font-size: 11px;
	padding: 4px;
}
table.com_poll td.poll_hits {
	text-align: center;
}
table.com_poll td.poll_percent {
	text-align: center;
}
table.com_poll th.poll_graph {
	text-align: center;
}