/* Модуль поиска */
.header_center div.search {
	padding: 0 0 0 30px;
	background: url(../images/search_icon.gif) no-repeat center left;
	margin: 0 auto;
	width: 410px;
}
.search input.inputbox {
	width: 330px;
}
.search input.button {
	border: 0;
	background: none;
	cursor: pointer;
	border-bottom: 1px solid #8F8F8F;
	color: #8F8F8F;
	font-size: 11px;
}