.jstProfile_menu{
     clear: both;
    background: #EAECDE;
    padding:10px;
    overflow:hidden;
    margin: 22px 0 0 0;
}
.jstProfile_menu ul,
.jstProfile_menu ul li{
    list-style: none;
    margin:0;
    padding: 0;
}

.jstProfile_menu ul li{
    margin: 0 3px 0 0;
    display: block;
    float: left;
}
.jstProfile_menu ul li a{
    padding:1px 4px 2px  4px;
    display: block;
    float: left;
    background: #A0A59E;
    color: #FFF;
    font-size:11px;
    text-decoration: none;
}
.jstProfile_menu ul li a:hover,
.jstProfile_menu ul li a.active
{
background: #4B8EC2;
}

.jstProfile_info{
    overflow: hidden;
    margin: 0 0 10px 0;
}


.jstProfile_info .avatar{
    float: left;
    margin: 0 20px 0 0;
}

.last_visite{
    display: block;
}

.plugins_area{
    padding: 0 0 0 15px;
}



