/* IE ONLY CSS */
.main_wrap{

 background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.joo-test.ru/templates/jooway2/images/header_left.png', sizingMethod='crop');

}


a#logo{

  background: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.joo-test.ru/templates/jooway2/images/logo.png', sizingMethod='scale');
cursor:pointer;


}
.top_menu_1{
         padding: 0 0 0 36px;
    margin: 15px 0 0 0;

  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.joo-test.ru/templates/jooway2/images/topmenu_left.png', sizingMethod='scale');



}
.top_menu_2{
  background: none;

    padding: 0 24px 0 0;
      filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.joo-test.ru/templates/jooway2/images/topmenu_right.png', sizingMethod='scale');
}

ul#mainlevel-nav{
  background: none;
     filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.joo-test.ru/templates/jooway2/images/topmenu_bg.png', sizingMethod='scale');

}

#log_in{
  background: none;
     filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.joo-test.ru/templates/jooway2/images/log_in.png', sizingMethod='scale');


}

 ul.users_online li{
   margin: 4px 10px 0 0;
   padding: 2px 4px 3px 2px;
   line-height: 30px;
   height: 33px;
  }
    ul.users_online li a img{
    vertical-align: middle;
    margin: 0 5px 0 0;
 }
.content{
  width: 72%;
  float: right;
}

hr {
	color: black;
	background-color: black;
	height: 1px;

	margin: 0;
}

input,textarea,select{font-size:100%;}
input.inputbox{
  border: 3px solid #EAECDE;
  padding: 2px 6px;
  margin: 0 5px 0 1px;
  color: #BFBFBF;
}
fieldset legend {
	margin-left: -7px;
}

/* -----Третий блок (user7, user8, user9)---- */
.block3{
  clear: both;
  background: url(../images/block3_bg_top.jpg) repeat-x top left;
  overflow: hidden;
  width:100%;

}
 .block3_bottom{
   width:100%;
  background: url(../images/block3_bg_bottom.jpg) repeat-x bottom left;
  padding: 0 0 15px 0;

}

.block3 .moduletable{
  padding: 5px 5px 5px 2px;
  margin: 0 ;
}
.block_w3{
  width: 35%;
}
 .block_w3.w25{
  width: 25%;
}
.block_w3.w35{
  width: 35%;
}

.block_w3.w35 .moduletable{
  padding: 5px 5px 5px 10px;
  margin: 0 ;
}

