/* IE7 ONLY CSS */
.wrapper{
  width: 99%;
  max-width:1050px;
  margin:  250px auto 0 auto;
  position: relative;
  text-align: left;
  overflow:hidden;
  background: url(../../images/content_bg.png) repeat 0px 230px;
  min-height: 600px;

}
.header{
  position: relative;
  width: 100%;  left:0; top:0;
  max-width:1043px;
  margin:  0 0 0 0;
  height: 271px;
  text-align: center;
   background: url(../../images/header.jpg) no-repeat right;
    z-index:100; 
 }

