/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>---com_content---<<<<<<<<*/
/*------Заголовки------*/
a.contentpagetitle {
	font: normal 18px/26px "Lucida Sans Unicode", "Lucida Grande", "Myriad Pro", sans-serif;
	text-decoration: none;
	color: #4B8EC2;
}
a.contentpagetitle:hover {
	text-decoration: underline;
}
.contentheading {
	color: #5B5B5B;
	font: normal 18px/26px "Lucida Sans Unicode", "Lucida Grande", "Myriad Pro", sans-serif;
	margin: 5px 0 4px 0;
}
/*------Описания------*/
.contentdescription {
	background: #F0F2E4;
	border: 1px solid #EAECDE;
	clear: both;
	overflow: hidden;
	padding: 10px;
}
.contentdescription img {
	border: 3px solid #DCDED4;
	margin: 0 10px 0 0;
}
.category_name, section_name {
	font-weight: bold;
	background: url(../images/elements/arrow.png) no-repeat center left;
	display: block;
	padding: 0 0 0 15px;
	font-size: 11px;
}
/*------Режим БЛОГА------*/
.intro{
    overflow: hidden;
    margin: 4px 0 18px 0;
}


.blog .contentpaneopen td {
	padding-right: 10px;
}
.leading_block {
	background: #FBFEEC;
	border: 1px dashed #CCC;
	margin: 5px 0 15px 0;
	padding: 15px;
}
table.intro_block td {
	padding: 4px 10px 5px 2px;
}
div.section_cat {
	background: url(../images/elements/arrow.png) no-repeat center left;
	padding: 6px 0 10px 14px;
    font-weight: bold;
    margin: 0;
}
div.section_cat a {
	font-weight: bold;
}
/*Ссылка "Подробнее" */
a.readon {
	color: #5ABDFF;
	font-weight: bold;
}
.article_seperator {
	height: 1px;
}
/*-----Редактирование содержимого-----*/
table.cedit_misc {
	margin: 5px 0 20px 0;
}
table.cedit_main {
	margin: 5px 0 20px 0;
}

.groupcats h2.category_name{
    font-size: 18px; margin: 15px 0 2px 0;
    padding: 5px 0 5px 20px;
}

.blog .edit_item{
    margin: 6px 0 0 0;
}


.blog .button.edit_button{
    text-decoration: none;
    font-size:11px; font-weight: bold;
}

