/* Модуль "Случайное изображение"   */
#jstSlideShow_1 {
	border: 8px solid #EBECE6;
	position: relative;
	visibility: hidden;
}
.error#jstSlideShow_1 {
	border: 8px solid #EBECE6;
	color: #FF0066;
	font: 11px/16px Tahoma, Arial, sans-serif;
	padding: 10px;
	position: relative;
	visibility: visible;
}
.gallerystatus {
	color: #EBECE6;
}
.random_image img {
	border: 5px solid #EBECE6;
}