/* Задаем базовые параметры для оформления модулей  */
.moduletable {
	margin: 2px 0 25px 0;
	padding: 0 0 10px 0;
}

/* Модуль статистики */
.moduletable-stat {
	background: #EEF0E6;
	padding: 12px;
	border: 1px solid #D8D9D0;
	margin: 0 0 10px 0;
}

/* Модуль поиска */
.search {
	padding: 0 0 0 30px;
	background: url(../images/search_icon.gif) no-repeat center left;
	margin: 0 auto;
	width: 410px;
}
.search input.inputbox {
	width: 330px;
}
.search input.button {
	border: 0;
	background: none;
	cursor: pointer;
	border-bottom: 1px solid #8F8F8F;
	color: #8F8F8F;
	font-size: 11px;
}

/* Syndicate  */
.syndicate {
	float: left;
	overflow: hidden;
}
.syndicate a.RSS20, .syndicate a.Yandex, .syndicate a.RSS091, .syndicate a.RSS10, .syndicate a.ATOM03, .syndicate a.OPML {
	background: url(../images/rss_small.png) no-repeat top left;
	display: block;
	float: left;
	height: 30px;
	width: 36px;
}
.syndicate img {
	display: none;
}

/* Модуль "Случайное изображение"   */
#jstSlideShow_1 {
	border: 8px solid #EBECE6;
	position: relative;
	visibility: hidden;
}
.error#jstSlideShow_1 {
	border: 8px solid #EBECE6;
	color: #FF0066;
	font: 11px/16px Tahoma, Arial, sans-serif;
	padding: 10px;
	position: relative;
	visibility: visible;
}
.gallerystatus {
	color: #EBECE6;
}
.random_image img {
	border: 5px solid #EBECE6;
}

/* Модуль "Опрос" */
.poll {
}
.poll input[type=radio] {
	margin: 3px 5px 0 0;
}
.pollstableborder {
}
.poll_buttons {
	margin: 10px 0 0 0;
}
.poll_buttons input.button {
	background: none;
	border: none;
	border-bottom: 1px solid #000;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	margin: 0 10px 0 0;
	padding: 0;
}

/* Модуль авторизации  */
#log_in {
	background: url(../images/log_in.png) no-repeat top left;
	clear: both;
	cursor: pointer;
	font-size: 22px;
	height: 51px;
	line-height: 50px;
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	text-align: center;
	width: 120px;
}
#box1 {
	position: absolute;
}
.loginform_area {
	background-color: white;
	border: 9px solid #5d5d5d;
	display: none;
	margin: 15px 0 0 0;
	margin-right: -90px;
	padding: 8px;
	position: absolute;
	right: 10px;
	top: 0;
	width: 400px;
	z-index: 3000;
}
.closewin {
	background: url(../images/cross.png) no-repeat center #FFF;
	cursor: pointer;
	display: block;
	height: 20px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 15px;
	top: 0;
	width: 20px;
	z-index: 4000;
}
.loginform_area_inside {
	background-color: white;
	border: 6px solid #cacaca;
	clear: both;
	padding: 15px;
	text-align: left;
}

img#mod_avatar_img{
	width: 50px;
}

/* Модуль "Пользователи on-line" */
.mod_who_online_info {
	background: url(../images/user_small.png) no-repeat top left;
	padding: 4px 0 0 32px;
}
.mod_who_online span {
	color: #D43014;
	font-size: 16px;
	font-weight: bold;
}
ul.users_online {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* Модуль "Пользователи on-line" - горизонтальный вывод*/
ul.users_online li {
	background: #F3F4EE;
	border: 1px solid #E6E9D4;
	display: inline;
	height: 43px;
	line-height: 40px;
	list-style: none;
	margin: 0 10px 0 2px;
	overflow: hidden;
	padding: 2px 1px 3px 2px;
}
ul.users_online li a img {
	padding: 0 5px 0 0;
	vertical-align: middle;
}

/*---------------------------------- Модуль "Последние новости" (mod_latestnews) */
.mod_latestnews{
    padding: 0 55px 0 35px;
}
.mod_latestnews ul,
.mod_latestnews ul li{
    margin: 0; padding: 0; list-style: none;
}
.mod_latestnews ul li{
    padding: 0 0 5px 0; overflow: hidden;
}
.mod_latestnews img{
    width: 70px; border: 1px solid #FFF;
}
.mod_latestnews a.thumb{
    padding: 1px; border: 1px solid #DDDDDD; float: left; margin: 0 10px 0  0;
}
.mod_latestnews .date{
    margin: 0; padding: 0; background: none;
    font-weight: normal; font-size: 10px;  display: block;
}
.mod_latestnews a.contentpagetitle{
     font: normal 13px/19px Arial;
  color: #616161; text-decoration: underline;
}
.mod_latestnews a.contentpagetitle:hover{
    text-decoration: none;
}

/*---------------------------------- Модуль "Краткие новости" (mod_newsflash) */
.mod_newsflash{
    padding: 0 0 0 70px;
}
.mod_newsflash ul,
.mod_newsflash ul li{
    margin: 0; padding: 0; list-style: outside;
}
.mod_newsflash ul li{
    padding: 0 0 5px 0;
}
.mod_newsflash .date{
    margin: 0; padding: 0; background: none;
    font-weight: normal; font-size: 10px;
}
.mod_newsflash a.contentpagetitle{
    color: #498FC3 !important;
}
.mod_newsflash a.contentpagetitle:hover{
    text-decoration: none;
}
.mod_newsflash a.contentpagetitle{
  font: normal 13px/19px Arial;
  color: #616161; text-decoration: underline;
}

