/*
* reset.css. Используется для сброса параметров
* @package Joostina
* @subpackagetemplates/NewLine
* @version $Id:reset.css 2009-01-31 11:05 ZaiSL $; */
html{background:#fff;color:#000;}
html, body, address, blockquote, div, p, pre, h1, h2, h3, h4, h5, h6, hr, dd, dl, dt, ul, ol, li, a, abbr, acronym, b, big, br, cite, code, del, dfn, em, i, ins, kbd, q, samp, small, span, strong, sub, sup, tt, var, img, object, caption, table, tbody, td, tfoot, th, thead, tr, textarea, select, form, fieldset, legend, label, font, u, s, center, dir, menu, strike, xmp {
color:#616161;
font-family:'Trebuchet MS';
list-style-type:none;
margin:0;
padding:0;
text-indent:0;
vertical-align:baseline;
}
html, body {
font:normal 13px/20px 'Trebuchet MS';
text-align:left;
text-decoration:none;
}
table, td {font:normal 13px/20px 'Trebuchet MS';text-align:left;}
input, input.button {
margin:0;
padding:0;
vertical-align:baseline;
}
table {border-collapse:collapse;border-spacing:0;}
hr, img, object, fieldset {border:0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal;font-weight:normal;}
caption, td, th, tr {text-align:left;vertical-align:top;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
abbr, acronym {border:0;font-variant:normal;}
optgroup {
background:white;
color:black;
font-style:normal;
}
optgroup option {padding-left:22px;}
hr {
background-color:black;
color:black;
height:1px;
margin:7px 0;
}
div:after, ol:after, form:after, dl:after, ul:after {
content:".";
display:block;
clear:both;
visibility:hidden;
height:0;
overflow:hidden;
}
q {quotes:'\00AB' '\00BB' '\201E' '\201C';}
q:before {content:'\00AB';}
q:after {content:'\00BB';}
q q:before {content:'\201E';}
q q:after {content:'\201C';}
sub, sup {font-size:11px;position:relative;}
sub {top:5px;}
sup {top:-5px;}
input, textarea, select {
font-family:inherit;
font-size:inherit;
font-weight:inherit;
}
legend {color:#000;}
input, select, button {vertical-align:middle;}
textarea {vertical-align:top;}
input {overflow:visible;}
select[size] {vertical-align:top;}
select[size="1"] {vertical-align:middle;}
input[type=checkbox], input[type=radio] {margin:3px 3px 0 0;vertical-align:top;}
a img {border:0 none;}
:focus {outline:none;}
ol, ul {list-style:none;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
.form * {
padding:0;
margin:0;
list-style:none;
border:none;
font-size:100%;
}
/**
* base.css. Используется для установки базовых CSS-значений,
* для описания стилей, используемых в стандартных расширениях
* @package Joostina
* @subpackagetemplates/NewLine
* @version $Id:base.css 2009-01-31 11:05 ZaiSL $;
* doctorgrif: добавлены ряд стилей
*/
body {
background-color:#fff;
color:#666;
font:normal 12px/16px arial, verdana, helvetica, sans-serif;
font-size:76.1%;
font-weight:400;
height:auto !important;
height:100%;
min-height:100%;
margin:0 auto;
padding:1em auto;
position:relative;
text-align:left;
width:100%;
max-width:107em;
max-width:1284px;
min-width:80em;
min-width:960px;
}
body.mceContentBody{background:#fff;}
/*Headers*/
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, .componentheading, .contentheading, .contentpagetitle, .sectiontableheader, .newsfeedheading, table.moduletable th {margin:1em 0;padding:0;}
	h1, .componentheading, h2, .contentheading, .contentpagetitle, h3, div.moduletable h3, h4, h5, h6 {
	font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Myriad Pro', sans-serif;
	font-style:normal;
	text-rendering:optimizeLegibility;
	}
		h1, .componentheading {color:#4b8ec2;font-size:24px;line-height:28px;margin:0.3em 0;}
		h2, .contentheading, .contentpagetitle {font-size:22px;line-height:26px;margin:0.3em 0;}
		h2 {font-size:18px;}
		h3, table.moduletable th {font-size:22px;line-height:26px;margin:0.3em 0;}
		h4, h5, h6 {font-size:13px;font-weight:600;line-height:17px;margin:1em 0;margin:0.2em 0;}
/*Paragraf*/
p, td, tr {
background-color:#fff;
color:#666;
font-size:1em;
font-style:normal;
font-weight:400;
margin:1em 0;
padding:0 0em;
text-align:left;
}
	p {
	font-size:1em;
	font-style:normal;
	font-weight:400;
	line-height:16px;
	margin:1em 0;
	padding:0 1em 0 0;
	text-align:left;
	}
	div {color:#666;}
/*Lists*/
ul {
margin:0 0 0 1em;
padding:0;
list-style:decimal outside;
}
	ol li {list-style:decimal outside;}
	ul li {list-style:disc outside;}
		li {
		margin:0 0 0 1em;
		padding:0;
		list-style:decimal outside;
		}
			li > p {margin:.2em 0 0 0;}
dl {margin:0;padding:0;}
	dt {
	border-bottom:1px solid #bcbcbc;
	font-size:1.1em;
	line-height:1.4em;
	margin-bottom:10px;
	padding-bottom:2px;
	}
	dd {
	font-size:1em;
	line-height:1.3em;
	margin:0;
	padding-left:3em;
	}
/*Table*/
table {width:100%;}
	th, td, tr {
	margin:1em 0;
	padding:0;
	vertical-align:top;
	}
	th{font-weight:bold;text-align:center;}
		table th{
		background:#eaecde;
		padding:4px;
		font-weight:bold;
		}
	/*отображение таблиц с данными (Автор, Дата, Название и Просмотры)*/
	/*Форматирование отображения заголовка таблицы.*/
.sectiontableheader {}
	td.sectiontableheader{
	background:#eaecde;
	font-weight:bold;
	padding:5px 2px;
	}
	/*Форматирование чередующихся строк таблиц*/
	.sectiontableentry1 {} 
	.sectiontableentry2 {}
		table tr.sectiontableentry2{background:#f2f3eb;}
		tr.sectiontableentry1 td, tr.sectiontableentry2 td{padding:2px;}
/*Links*/
a {border:none;}
	a, a:link {
	-webkit-tap-highlight-color:#ff5e99;
	-webkit-transition-duration:.4s;
	-webkit-transition-property:color;
	-webkit-transition-timing:ease-out;
	}
	a, a:link, a:active {color:#0090e7;text-decoration:underline;}
	a:visited {color:#909;text-decoration:underline;}
	a:hover, a:focus {color:#025485;text-decoration:none;}
	a:active {background:inherit;}

		/*Link padding for icons*/
		a[href^="http:"], a[class~="external"], a[rel~="nofollow"], /*a[href^="mailto:"],*/ a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"], a[href$=".rss"], a[href^="aim:"],a[class~="popup"] {
		padding:2px 0 2px 20px;
		margin:-2px 0;
		background-repeat:no-repeat;
		background-position:left center;
		vertical-align:baseline;
		}
			/*External link icons*/
			a[href^="http:"], a[class~="external"]:after, a[rel~="nofollow"]:after {background-image:url(../images/typo/icon_external.gif);padding-left:20px;}
				.valid a[href^="http:"], .valid a[class~="external"]:after, .valid a[rel~="nofollow"]:after, .block3_bottom a[href^="http:"], .block3_bottom a[class~="external"]:after, .block3_bottom a[rel~="nofollow"]:after {
				background:none;
				padding:0;
				margin:0;
				}
			/*a[href^="mailto:"] {background-image:url(../images/typo/icon_mail.gif);}*/
			/*File link icons*/
			a[href$=".pdf"] { background-image: url(../images/typo/icon_pdf.gif);}
			a[href$=".doc"] { background-image: url(../images/typo/icon_doc.gif);}
			a[href$=".xls"] { background-image: url(../images/typo/icon_xls.gif);}
			/*Miscellaneous link icons*/
			a[href$=".rss"] {background-image: url(../images/typo/icon_rss.gif);}
			a[href^="aim:"] {background-image: url(../images/typo/icon_aim.gif);}
			a[class~="popup"] {background-image:url(../images/typo/icon_popup.gif);}
			a[href^="http://joostina"] { /*Измените "joostina" на ваш домен (site.ru or www.site.ru - подсмотреть можно в переменной $mosConfig_live_site конфигурации)*/
			background:none;
			padding:0;
			margin:0;
			}
			a[href^="http://www.joostina.ru"], a[class~="mainlevel"], a[class~="ps"], a tablle[class~="banners"], a[class~="sociable"] { /*Не меняйте!!!*/
			background:none;
			padding:0;
			margin:0;
			}
/*Blockquote*/
blockquote {
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
float:left;
margin-left:1em;
margin-right:2em;
margin-top:1em;
margin-bottom:1em;
padding-top:1.5em;
}
	blockquote p {
	font:italic 1.1em/1.4em 'Palatino', Georgia, 'Times New Roman', serif;
	margin-bottom:.8em;
	text-indent:-.6em;
	width:14em;
	}
		blockquote p:before, blockquote p:after {
		content:'';
		font-size:1.2em;
		vertical-align:middle;
		}
/*Images*/
img, .mosimage, .mosimage img {
border:0 none;
margin:0;
padding:2px;
vertical-align:bottom;
}
img {-ms-interpolation-mode:bicubic;}
	a img, a.mosimage img {
	border:0 none;
	margin:0;
	padding:0;}
	.mosimage_caption {font:normal .8em/1.1em 'Palatino', Georgia, 'Times New Roman', serif;font-weight:600;}
	/*Прозрачность для валидаторов, поисковых систем, социальных закладок*/
	.valid img, .ps img {
	border:none;
	margin:0;
	padding:0;
	}
		.valid a img,a.ps img {
		filter:alpha(opacity=50);
		opacity:0.50;
		-moz-opacity:0.50;
		-khtml-opacity:0.50;
		text-decoration:none;
		}
		.valid a:hover img, a:hover.ps img {
		filter:alpha(opacity=99);
		opacity:0.99;
		-moz-opacity:0.99;
		-khtml-opacity:0.99;
		text-decoration:none;
		}
		.sociable img {border:0;}
			.sociable a img {
			filter:alpha(opacity=50);
			-moz-opacity:0.50;
			opacity:0.50;
			-khtml-opacity:0.50;
			}
			.sociable a:hover img {
			filter:alpha(opacity=99);
			-moz-opacity:0.99;
			opacity:0.99;
			-khtml-opacity:0.99;
			}
/*Button*/
*:first-child + html button [type] {padding:0 4px 0 4px;}
button [type] {line-height:16px;padding:1px 4px;}
button {
cursor:pointer;
display:inline;
line-height:14px;
overflow:visible;
padding:1px 4px;
width:auto;
}
a.button, button {
/*background: #ccc url(../images/button.png) left top repeat-x;*/
border:1px solid #ccc;
border-color:#999 #858585 #666 #858585;
color:#333;
cursor:pointer;
display:block;
float:left;
font:normal 1em/1.3em 'Lucida Sans Unicode', 'Lucida Grande', 'Myriad Pro', sans-serif;
line-height:14px;
margin:0 3px 15px 0;
padding:2px 4px 3px 4px !important;
-moz-border-radius:2px;
-webkit-border-radius:2px;
text-decoration:none;
vertical-align:baseline;
white-space:nowrap;
}
	a.button:hover, button:hover {
	background-color:#ccc;
	border:1px solid #000;
	color:#000;
	text-decoration:none;
	}
input, select, textarea {font-size:1em;vertical-align:middle;}
.inputbox {}
	select.inputbox {padding:2px;}
	input [type="text"], input [type="password"], input.inputbox, input.text_area, textarea.inputbox, select.inputbox, textarea.text_area {
	border:2px solid #eae6df;
	color:#808080;
	margin:0 5px 5px 1px;
	padding:2px 6px;
	}
	input[type="radio"] {vertical-align:middle;}
	*:first-child + html input [type=radio] {margin:0;}
	input[type="checkbox"] {vertical-align:baseline;}
	input[type="button"], input[type="submit"] {cursor:pointer;}
		textarea:focus, input:focus { 
		background:#f9f9f9;
		border:solid #ddd;
		border-width:1px 1px 2px 1px;
		}
select {
background:#f9f9f9;
border:1px solid #ccc;
color:#333; 
}
	:-moz-selection{
	background:#ff5e99;
	color:#fff;
	text-shadow:none;
	}
	:selection {
	background:#ff5e99;
	color:#fff;
	text-shadow:none;
	}
/*legend {
color:#333;
font-size:1em;
line-height:1.3em;
padding:0;
}*/
fieldset {border:0 none;}
	form fieldset {
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding-left:5px;
	padding-top:5px;
	}
	form fieldset legend {font-size:1em;padding:0 5px;}
label {
color:#333;
cursor:pointer;
display:inline;
margin:0 10px 0 0; 
text-align:left;  
width:auto; 
}
option {background:#fff;color:#000;}
optgroup {background:#f2f2f2;color:#111;}
/*Misc*/
.no-print {display:none;}
.page-break {display:none;page-break-before:always;}
pre {
font:1em 'andale mono', 'lucida console', monospace;
white-space:pre;
white-space:-moz-pre-wrap;
white-space:-hp-pre-wrap;
white-space:-o-pre-wrap;
white-space:-pre-wrap;
white-space:pre-wrap;
white-space:pre-line;
word-wrap:break-word;
}
.longurl {
overflow-x:auto;
white-space:pre-wrap;
white-space:-moz-pre-wrap !important;
white-space:-pre-wrap;
white-space:-o-pre-wrap;
width:400px;
word-wrap:break-word;
_white-space:pre;
font:9px 'andale mono', 'lucida console', monospace;
display:inline;
}
small{font-size:.8em;line-height:1.1em;}
sub {
bottom:.8em;
position:relative;
vertical-align:baseline;
}
sup {
bottom:.3em;
position:relative;
vertical-align:baseline;
}
	sup em {color:#f00;font-size:0.8em;}
span {font-style:normal;}
	span.red {color:red;}
	span.searchword {
	border-bottom:1px dashed #f63;
	color:#f60;
	padding:3px;
	}
	span.highlight {
	background-color:#fc0;
	color:#000;
	margin:5px 0;
	padding:2px;
	}
.article_separator {
border:1px dashed #fa0;
border:0;
height:1px;
display:block;
margin:1em 0;
padding:0;
}
abbr, acronym {
border-bottom:1px dotted #000;
color:#999;
cursor:help;
font-style:oblique;
font-weight:400;
}
hr, hr.separator {
border:1px dashed #fa0;
border:0;
height:1px;
display:block;
margin:1em 0;
padding:0;
}
strong, b {font-weight:600;}
em, dfn {font-style:italic;}
dfn {font-weight:600;}
caption{margin-bottom:.5em;text-align:center;}
strike {text-decoration:line-through;}
address {font-style:italic;margin:0 0 1.5em;}
del {color:#666;}
code, tt {display:block;font:1em/1.5em 'andale mono', 'lucida console', monospace;}
	code {
	background-color:#d5d2d8;
	display:block;
	padding:0px 2px 4px 26px;
	background:#fff url(../images/typo/code.jpg) no-repeat left top;
	line-height:1.67em;
	}
/*Clearfix*/
.clearfix {display:inline-block;}
/*Hides from IE-mac\*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
/*End hide from IE-mac*/
	.clearfix:after, .clearfloat:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	}
.clear, div.clear {clear:both;}
/**Etc**/
.addinfo {
border:0;
margin:0;
padding:0;
width:100%;
}
	.section_name, .category_name {
	/*background:url(../images/arrow1.png) no-repeat center left;*/
	background-color:#4b8ec2;
	color:#fff;
	font-size:.9em;
	line-height:1.3em;
	margin:0 2px 0 0;
	padding:1px;
	}
		a.section_name, a.section_name:link, a.section_name:active, a.category_name, a.category_name:link, a.category_name:active {}
		a.section_name:visited, a.category_name:visited {}
		a.section_name:hover, a.section_name:focus, a.category_name:hover, a.category_name:focus {}
		a.section_name:active, a.category_name:active {}
	.createdate, .modifydate, .author {
	font-size:.9em;
	line-height:1.3em;
	margin:0;
	padding:0;
	}
	.authorname, .date, .modify {
	color:#0090e7;
	font-size:.9em;
	line-height:1.3em;
	}
		.authorname {
		background:url(../images/user.png) no-repeat center left;
		margin:0;
		padding:0 5px 0 20px;
		vertical-align:baseline;
		}
		.date {
		background:url(../images/date.png) no-repeat center left;
		margin:0;
		padding:0 5px 0 20px;
		vertical-align:baseline;
		}
.user_online, .bullet_green {background:url(../images/bullet_green.png) no-repeat left;padding:2px 0 2px 11px;}
.user_offline, .bullet_red {background:url(../images/bullet_red.png) no-repeat left;padding:2px 0 2px 11px;}
/* Подчищаем меню от всяких ненужностей*/
ul#mainlevel, ul#mainlevel li, ul#mainlevel-nav, ul#mainlevel-nav li {
list-style:none;
margin:0;
padding:0;
}
/* Задаем базовые параметры для оформления модулей*/
.moduletable {margin:2px 0 25px 0;padding:0 0 10px 0;}
/*---com_content---*/
/*Форматирование страниц с содержимым*/
.category {}
	a.category, a.category:link, a.category:active {}
	a.category:visited {}
	a.category:hover, a.category:focus {}
	a.category:active {}
	.category img {}
/*Формативароние ссылки "Подробнее" в разделе "блог"*/
.blog_more {}
	a.blog_more, a.blog_more:link, a.blog_more:active {}
	a.blog_more:visited {}
	a.blog_more:hover, a.blog_more:focus {}
	a.blog_more:active {}
/*Форматирование ссылки в разделе "блог"*/
.blogsection {}
	a.blogsection, a.blogsection:link, a.blogsection:active {}
	a.blogsection:visited {}
	a.blogsection:hover, a.blogsection:focus {}
	a.blogsection:active {}
/*Форматирование таблицы, в которой находится не новостная информация (компоненты, список категорий, форма контактов и т.д.).*/
.contentpane {}
	a.contentpane, a.contentpane:link, a.contentpane:active {}
	a.contentpane:visited {}
	a.contentpane:hover, a.contentpane:focus {}
	a.contentpane:active {}
	.contentpane img {}
/*Форматирование таблицы, в которой находится новостная информация (статьи, новости и т.д.).*/
.contentpaneopen {}
	a.contentpaneopen, a.contentpaneopen:link, a.contentpaneopen:active {}
	a.contentpaneopen:visited {}
	a.contentpaneopen:hover, a.contentpaneopen:focus {}
	a.contentpaneopen:active {}
	.contentpaneopen img {}
	.contentpaneopen p {}
table.contenttoc {} /*Форматирование таблицы оглавления для многостраничного содержимого*/
	table.contenttoc td {} /*то же самое, форматирование текста таблицы оглавления*/
	table.contenttoc th {} /*то же самое, форматирование заголовка таблицы оглавления*/
	table.contenttoc td.toclink {} /*то же самое, форматирование названий страниц содержимого*/
		a.toclink, a.toclink:link, a.toclink:active {}
		a.toclink:visited {}
		a.toclink:hover, a.toclink:focus {}
		a.toclink:active {}
/*------Заголовки------*/
.contentpagetitle{}
	a.contentpagetitle, a.contentpagetitle:link, a.contentpagetitle:active {}
	a.contentpagetitle:visited {}
	a.contentpagetitle:hover, a.contentpagetitle:focus {}
	a.contentpagetitle:active {}
.contentheading{
color:#5b5b5b;
font:normal 18px/26px 'Lucida Sans Unicode', 'Lucida Grande', 'Myriad Pro', sans-serif;
margin:5px 0 15px 0;
}
	a.contentheading, a.contentheading:link, a.contentheading:active {}
	a.contentheading:visited {}
	a.contentheading:hover, a.contentheading:focus {}
	a.contentheading:active {}
/*------Описания------*/
.contentdescription {
background:#f0f2e4;
border:1px solid #eaecde;
clear:both;
overflow:hidden;
padding:10px;
}
	a.contentdescription, a.contentdescription:link, a.contentdescription:active {}
	a.contentdescription:visited {}
	a.contentdescription:hover, a.contentdescription:focus {}
	a.contentdescription:active {}
	.contentdescription img {border:3px solid #dcded4;margin:0 10px 0 0}
	.contentdescription p {}
/*------Режим БЛОГА------*/
.blog .contentpaneopen td {padding-right:10px;}
.leading_block {
background:#fbfeec;
border:1px dashed #CCC;
margin:5px 0 15px 0;
padding:15px;
}
	table.intro_block td {padding:4px 10px 5px 2px;}
div.section_cat {background:url(../images/cat.png) no-repeat center left;padding:6px 0 10px 30px;}
	div.section_cat a {font-weight:bold;}
/*Ссылка "Подробнее" */
.readon {color:#5abdff;}
	a.readon, a.readon:link, a.readon:active {}
	a.readon:visited {}
	a.readon:hover, a.readon:focus {}
	a.readon:active {}
/*-----Редактирование содержимого-----*/
table.cedit_misc {margin:5px 0 20px 0;}
table.cedit_main {margin:5px 0 20px 0;}
/*---Модули---*/
/*Форматирование списка последних новостей.*/
.latestnews {
/*background:;
color:;
float:;
font:;
font-family:;
font-size:;
font-style:;
font-weight:;
list-style:;
margin:0;
padding:0;
text-align:;
width:100%;*/
}
	.latestnews ul {
	/*background:;
	color:;
	float:;
	font:;
	font-family:;
	font-size:;
	font-style:;
	font-weight:;
	list-style:;*/
	margin:0;
	padding:0;
	/*text-align:;*/
	width:100%;
	} 
	.latestnews li {
	/*background:;
	color:;
	float:;
	font:;
	font-family:;
	font-size:;
	font-style:;
	font-weight:;
	list-style:;*/
	margin:0;
	padding:0 0 5px 0;
	/*text-align:;*/
	width:100%;
	}
/*Форматирование списка популярных новостей.*/
.mostread {
/*background:;
color:;
float:;
font:;
font-family:;
font-size:;
font-style:;
font-weight:;
list-style:;
margin:0;
padding:0;
text-align:;
width:100%;*/
}
	.mostread ul{
	/*background:;
	color:;
	float:;
	font:;
	font-family:;
	font-size:;
	font-style:;
	font-weight:;
	list-style:;*/
	margin:0;
	padding:0;
	/*text-align:;*/
	width:100%;
	} 
	.mostread li{
	/*background:;
	color:;
	float:;
	font:;
	font-family:;
	font-size:;
	font-style:;
	font-weight:;
	list-style:;*/
	margin:0;
	padding:0 0 5px 0;
	/*text-align:;*/
	width:100%;
	}
/* Модуль авторизации*/
#log_in {
background:url(../images/log_in.png) no-repeat top left;
clear:both;
cursor:pointer;
font-size:22px;
height:51px;
line-height:50px;
margin:0 0 0 10px;
padding:0 0 0 10px;
text-align:center;
width:120px;
}
#box1 {position:absolute;}
	.loginform_area {
	background-color:white;
	border:3px solid #5d5d5d;
	display:none;
	margin:15px 0 0 0;
	margin-right:-90px;
	padding:8px;
	position:absolute;
	right:10px;
	top:0;
	width:420px;
	z-index:3000;
	}
		.loginform_area_inside {
		background-color:white;
		border:2px solid #cacaca;
		clear:both;
		padding:15px;
		text-align:left;
		}
	.closewin {
	background:url(../images/cross.png) no-repeat center #fff;
	cursor:pointer;
	display:block;
	height:20px;
	margin:0;
	padding:0;
	position:absolute;
	right:15px;
	top:0;
	width:20px;
	z-index:4000;
	}
.ml_login_info {
font-size:1em;
font-style:normal;
font-weight:400;
margin:1em 0;
padding:0;
}
	.ml_login_info a {
	font-size:1em;
	font-style:normal;
	font-weight:700;
	margin:0;
	padding:0;
	}
/* Модуль "Случайное изображение" */
#jstSlideShow_1 {
border:2px solid #ebece6;
position:relative;
visibility:hidden;
}
	.error#jstSlideShow_1 {
	border:2px solid #ebece6;
	color:#ff0066;
	font:11px/16px Tahoma, Arial, sans-serif;
	padding:10px;
	position:relative;
	visibility:visible;
	}
.gallerystatus {color:#ebece6;}
	.random_image img {border:1px solid #ebece6;}
/* Модуль "Пользователи on-line" */
.mod_who_online_info {background:url(../images/user_small.png) no-repeat top left;padding:4px 0 0 32px;}
	.mod_who_online span {
	color:#d43014;
	font-size:16px;
	font-weight:bold;
	}
	ul.users_online {
	list-style:none;
	margin:0;
	padding:0;
	}
/* Модуль "Пользователи on-line" - горизонтальный вывод*/
ul.users_online li {
background:#f3f4ee;
border:1px solid #e6e9d4;
display:inline;
height:43px;
line-height:40px;
list-style:none;
margin:0 10px 0 2px;
overflow:hidden;
padding:2px 1px 3px 2px;
}
	ul.users_online li a img {padding:0 5px 0 0;vertical-align:middle;}
/* Модуль статистики */
.moduletable-stat {
background:#eef0e6;
padding:12px;
border:1px solid #d8d9d0;
margin:0 0 10px 0;
}
/*Авторизация*/
/*Archive*/
/*Страница поиска*/
div.searchintro, div.searchintro div {width:100%;font-weight:normal;}
/* Модуль поиска */
.header_center div.search {
padding:0 0 0 20px;
background:url(../images/search_icon.gif) no-repeat center left;
margin:0 auto;
width:410px;
}
	.search input.inputbox  {
	background-color:#fff;
	border:1px solid #000;
	font-size:1em;
	height:2em;
	line-height:2.3em;
	padding-left:1.5em;
	width:330px;
	}
	.search input.button {
	border:0;
	background:none;
	cursor:pointer;
	border-bottom:1px solid #8f8f8f;
	color:#8f8f8f;
	font-size:1em;
	height:2.2em;
	line-height:2.3em;
	}
	.search input.button:hover {border:0;}
/*Веб-ссылки*/
.weblinks{}
	a.weblinks, a.weblinks:link, a.weblinks:active {}
	a.weblinks:visited {}
	a.weblinks:hover, a.weblinks:focus {}
	a.weblinks:active {}
/*Ленты новостей (Newsfeeds)*/
.newsfeedheading {}
	a.newsfeed, a.newsfeed:link, a.newsfeed:active {}
	a.newsfeed:visited {}
	a.newsfeed:hover, a.newsfeed:focus {}
	a.newsfeed:active {}
.newsfeeddate {}
.fase4rdf {}
/* Модуль "Опрос" */
.poll {}
	a.poll, a.poll:link, a.poll:active {}
	a.poll:visited {}
	a.poll:hover, a.poll:focus {}
	a.poll:active {}
.poll input[type=radio] {margin:3px 10px 0 0;}
.pollstableborder {}
.poll_buttons {margin:10px 0 0 0;}
	.poll_buttons input.button {
	background:none;
	border:none;
	border-bottom:1px solid #000;
	cursor:pointer;
	font-size:1em;
	font-weight:bold;
	margin:0 10px 0 0;
	padding:0;
	}
/*Xmap*/
.xmap {}
	.xmap ul, .xmap ul li {
	display:block;
	font-size:1em;
	line-height:1em;
	list-style:none;
	margin:0;
	padding:0;
	white-space:pre-wrap;
	}
		.xmap ul.level_0, .xmap ul.level_0 li, .xmap ul.level_0 li a, .xmap ul.level_0 ul li a {margin:0;padding:0;}
			.xmap ul.level_1 li {
		margin-left:1em;
		padding:0;
		white-space:pre-wrap;
		}
	a.xmap, a.xmap:link, a.xmap:active, .xmap ul.level_0 li a:link, .xmap ul.level_0 ul li a:link, .xmap ul.level_0 li a:active, .xmap ul.level_0 ul li a:active {}
	a.xmap:visited, .xmap ul.level_0 li a:visited, .xmap ul.level_0 ul li a:visited {}
	a.xmap:hover, a.xmap:focus, .xmap ul.level_0 li a:hover, .xmap ul.level_0 ul li a:hover, .xmap ul.level_0 li a:focus, .xmap ul.level_0 ul li a:focus {}
	a.xmap:active, .xmap ul.level_0 li a, .xmap ul.level_0 ul li a {}
	/*.xmap .active {font-style:normal;}*/
	span.xmap {
	font-size:1em;
	font-weight:400;
	line-height:1em;
	}
.xmap .contentpaneopen {float:left;width:100%;}
.xmap .componentheading {font-size:1.6em;line-height:28px;}
/* Компонент "Опросы" */
/* Текст вопроса */
.poll_quest {
background:url(../images/blue_arrow.png) no-repeat top left;
padding:2px 0 2px 30px;
vertical-align:middle;
}
table.com_poll {width:100%;}
table.com_poll th.poll_question {
font-size:1.1em;
line-height:1.4em;
width:35%;
}
table.com_poll th.poll_hits {width:7%;}
table.com_poll th.poll_percent {width:7%;}
table.com_poll th.poll_graph {}
table.com_poll td {font-size:1em;padding:4px;}
table.com_poll td.poll_hits {text-align:center;}
table.com_poll td.poll_percent {text-align:center;}
table.com_poll th.poll_graph {text-align:center;}/* polls Outside Table Border */
.pollstableborder{border:0;padding:2px;}
/* polls Bar Colors/Formats - Follow the format to add your own. Then update the maxcolors setting for polls in components/com_poll/poll.php -> $polls_maxcolors*/
	.polls_color_1{background-color:#8d1b1b;border:2px ridge #b22222;}
	.polls_color_2{background-color:#6740e1;border:2px ridge #4169e1;}
	.polls_color_3{background-color:#8d8d8d;border:2px ridge #d2d2d2;}
	.polls_color_4{background-color:#cc8500;border:2px ridge #ffa500;}
	.polls_color_5{background-color:#5b781e;border:2px ridge #6b8e23;}

/* Syndicate*/
.syndicate {float:left;overflow:hidden;}
	.syndicate a.RSS20, .syndicate a.Yandex, .syndicate a.RSS091, .syndicate a.RSS10, .syndicate a.ATOM03, .syndicate a.OPML {
	background:url(../images/rss_small.png) no-repeat top left;
	display:block;
	float:left;
	height:30px;
	width:36px;
	}
	.syndicate img{display:none;}
/* Табы*/
table.adminform {
border:none;
margin:5px 10px 0 5px;
padding:0 2px 0px 0;
width:90%;
}
.dynamic-tab-pane-control .tab-row .tab {
background-color:#e2e2e2;
background-image:none;
border:1px solid white;
cursor:pointer;
display:inline;
float:left;
font:normal 11px Tahoma, Arial, Verdana, sans-serif;
height:16px;
margin:4px -1px 0 4px;
overflow:hidden;
padding:2px 6px 4px 6px;
position:relative;
top:0;
white-space:nowrap;
width:auto;
z-index:1;
}
	#userInfo.dynamic-tab-pane-control .tab-page {
	background:#fcfcfe;
	border-top:2px solid #e7e7e7;
	float:left;
	margin-left:1px;
	padding:20px;
	position:relative;
	text-align:left;
	top:0;
	z-index:0;
	}
table#toolbar a.toolbar, table#toolbar a.toolbar img {border:none;}
#mosUserForm td.pkey {font-weight:bold;width:200px;}
#mosUserForm textarea, #mosUserForm input {width:90%;}
#mosUserForm table#table_userprofile {padding:10px 0 0 0;}
iframe #blockrandom {}
.com_wrapper {overflow:auto;}
/*Вывод отладочной информации*/
#time_gen {
background:url(../images/information.png) no-repeat left;
background-color:#ebebeb;
font-family:'andale mono', 'lucida console', monospace;
padding:10px 0 10px 22px;
text-align:left;
}
#jdebug {
background-color:#ebebeb;
font-family:'andale mono', 'lucida console', monospace;
text-align:left;
padding:10px;
}
	#jdebug b {
	background:url(../images/publish.png) no-repeat left top;
	padding:0 0 0 22px;
	text-align:left;
	}
	#jdebug strong {
	background:url(../images/publish.png) no-repeat left top;
	padding:0 0 0 22px;
	text-align:left;
	}
/*Offline*/
body.joo_offline {
height:auto !important;
height:100%;
margin:0;
min-height:100%;
padding:0;
width:100%;
}
	#joo {}
	#ctr1 {
	height:100%;
	margin:0;
	padding:0;
	width:100%;
	}
		table.outline {
		margin:0;
		padding:0;
		width:100%;
		}
			table.outline td.image {
			height:50px;
			margin:0;
			padding:0;
			width:50%;
			}
			table.outline td.offlaine_message, table.outline td.error_message, table.outline td.install_warning, table.outline td.clear_td {
			height:auto;
			margin:0;
			padding:0;
			width:39%;
			}
	#footer_off {
	margin:0;
	padding:0;
	vertical-align:bottom;
	width:100%;
	}
body.moswarning {margin:0;padding:0;}
	table.moswarning {
	background-color:#c00;
	border-bottom:2px solid #600;
	color:#fff;
	font-size:200%;
	margin:0;
	padding:0;
	width:100%;
	}
		table.moswarning h2 {
		font-family:Arial, Helvetica, sans-serif;
		margin:0;
		padding:0;
		text-align:center;
		}
/*404*/
body .page_404 {
background:#fff;
color:#333;
font-family:Arial, Helvetica, Sans-Serif;
font-size:1em;
text-align:center;
}
html {
font-size:100.01%;
height:100%;
margin:0;
overflow-y:scroll;
padding:0;
width:100%;
-webkit-font-smoothing:antialiased;
}
*+html .inline-block {display:inline;zoom:1;}
body.joo_flex {
background:url(../images/bg.jpg) repeat-x top left;
height:100%;
position:relative;
text-align:center;
width:100%;
}
.main_wrap {
background:url(../images/header_left.png) no-repeat top left;
overflow:hidden;
padding:0 0 40px 0;
position:relative;
}
	.header {
	background:url(../images/right_header.jpg) no-repeat 75% 0px;
	height:165px;
	position:relative;
	text-align:center;
	}
		a#logo {
		background:url(../images/logo.png) no-repeat top left;
		cursor:pointer;
		display:block;
		height:112px;
		left:0;
		position:absolute;
		text-decoration:none;
		top:20px;
		width:147px;
		}
		.header_center {
		height:110px;
		margin:0 auto;
		padding:24px 0 0 0;
		width:50%;
		}
		.header_right {
		position:absolute;
		right:0;
		top:10px;
		width:150px;
		}
.wrapper {
margin:0 auto;
position:relative;
text-align:left;
width:1004px;
}
	a#about {
	background:url(../images/about.jpg) no-repeat top left;
	cursor:pointer;
	display:block;
	float:left;
	height:36px;
	text-decoration:none;
	width:143px;
	}
	a#rss {background:url(../images/rss_small.png) no-repeat center;}
	.content {
	float:right;
	width:73%;
	position:relative;
	}
		.col {float:left;width:23%;}
			.col div h3 {color:#d43015;}
	.footer {
	background:url(../images/footer_bg.jpg) repeat-x bottom left;
	bottom:0;
	clear:both;
	position:relative;
	}
	.bottom {
	border-top:4px solid #d2d6bf;
	height:40px;
	line-height:40px;
	margin:0 auto;
	padding:12px 0 12px 0;
	width:1004px;
	}
		.valid {float:right;width:100px;}
/* -----Верхнее меню:BEGIN------*/
.jtd_nowrap {background:url(../images/topmenu_bg.png) repeat-x center;}
ul#mainlevel-nav, ul#mainlevel-nav li {
display:inline;
list-style:none;
margin:0;
padding:0;
}
.top_menu_1 {
background:url(../images/topmenu_left.png) no-repeat top left;
margin:15px 0 0 0;
padding:0 0 0 36px;
}
.top_menu_2 {background:url(../images/topmenu_right.png) no-repeat top right;padding:0 24px 0 0;}
ul#mainlevel-nav {
background:url(../images/topmenu_bg.png) repeat-x center;
display:block;
font-size:18px;
height:51px;
padding:0 12px 0 0;
text-align:center;
}
	ul#mainlevel-nav li a {
	display:inline;
	font-size:18px;
	line-height:51px;
	margin:0 8px;
	position:relative;
	}
	ul#mainlevel-nav li a#active_menu-nav {color:#4b8ec2;text-decoration:none;}
/* -----Верхнее меню:END------*/
/* -----Левое меню:BEGIN------*/
.moduletable-round {background:#eaecde;padding:15px 20px 15px 20px;}
	.moduletable-round a {
	border-bottom:1px dashed #ccc;
	color:#5b5b5b;
	display:block;
	font-size:13px;
	font-weight:bold;
	padding:1px 5px;
	text-decoration:none;
	}
		.moduletable-round a:hover, .moduletable-round a#active_menu {background:#dee0d3;color:#bd3620;}
	.moduletable-round ul, .moduletable-round ul li {
	list-style:none;
	margin:2px 0;
	padding:0;
	}
/* -----Левое меню:END------*/
/* -----Дополнительное меню:BEGIN------*/
.moduletable-help {
background:url(../images/help.jpg) no-repeat top left;
margin:15px 0;
overflow:hidden;
padding:20px 0 10px 0;
}
	.moduletable-help h3 {padding:0 10px 8px 108px;}
	.moduletable-help ul {
	float:left;
	list-style:none;
	margin:0 6px 0 0;
	padding:0;
	width:46%;
	}
		.moduletable-help ul li {
		list-style:none;
		margin:0;
		padding:0;
		}
			.moduletable-help ul li a {color:#498fc3;}
/* -----Дополнительное меню:END------*/
/* -----Нижнее меню:BEGIN------*/
.footer ul.menulist-bottom {
float:left;
margin:0 0 0 20%;
text-align:center;
}
	.footer ul.menulist-bottom li {
	display:inline;
	height:32px;
	line-height:32px;
	margin:0 9px 0 0;
	}
		.footer ul.menulist-bottom li a {color:#000;font-size:14px;}
/* -----Нижнее меню:END------*/
/* -----Сервисные ссылки:BEGIN------*/
a.navbar {
display:block;
float:left;
height:60px;
text-decoration:none;
width:48px;
}
	a.navbar#home {background:url(../images/home.jpg) no-repeat center;}
	a.navbar#mail {background:url(../images/mail.jpg) no-repeat center;}
	a.navbar#map {background:url(../images/map.jpg) no-repeat center;}
/* -----Сервисные ссылки:END------*/
.block_w1,.block_w2,.block_w3 {
float:left;
margin:0 0 10px 0;
display:inline;
}
.block_w1 {width:98%;}
.block_w2 {width:48%;}
.block_w3 {width:32%;}
	.block_w3.w25 {width:25%;}
	.block_w3.w35 {width:35%;}
	.block_w2.w25 {width:25%;}
	.block_w2.w35 {width:70%;}
	.block_w1.w25,.block_w1.w35 {width:95%;}
/* -----Первый блок (user1, user2, user3)----*/
.block1 .moduletable {padding:5px 10px 5px 2px;}
	.block1 h3 {color:#4b8ec2;font-size:24px;}
/* -----Второй блок (user4, user5, user6)----*/
.block2 .moduletable {margin:0 10px 0 0;padding:5px 10px 5px 2px;}
	.block2 h3 {
	background:url(../images/listok.jpg) no-repeat 8px 1px #f3f4ee;
	color:#4c8ec0;
	font-size:20px;
	padding:5px 2px 5px 52px;
	}
	.block_w2 img {margin:0;padding:0;}
/* -----Третий блок (user7, user8, user9)----*/
.block3 {
background:url(../images/block3_bg_top.jpg) repeat-x top left;
clear:both;
overflow:hidden;
padding:3px 10px 15px 0;
}
	.block3_bottom {
	background:url(../images/block3_bg_bottom.jpg) repeat-x bottom left;
	overflow:hidden;
	padding:0 0 0 10px;
	}
	.block3 .moduletable {margin:0 10px 0 0;padding:5px 5px 5px 2px;}
	.block3 h3 {
	color:#626262;
	font-size:18px;
	padding:0 0 10px 0;
	}
/* -----Дополнительные стили------*/
div.marker_round {font-size:12px;padding:5px 0;}
	div.marker_round b {
	background:url(../images/ol_big.jpg) no-repeat top left;
	color:#fff;
	display:block;
	float:left;
	font-weight:bold;
	height:39px;
	line-height:32px;
	margin:3px 6px 4px 0;
	text-align:center;
	width:36px;
	}
	div.marker_round br {
	clear:both;
	display:block;
	height:16px;
	line-height:16px;
	width:100%;
	}
/* Маркированный список с большими маркерами*/
ul.bigred {
list-style:none;
margin:0;
padding:0;
}
	ul.bigred li {
	background:url(../images/big_marker.png) no-repeat top left;
	list-style:none;
	margin:0 0 6px 0;
	padding:0 0 0 40px;
	}
.buttonheading td {}
	#email, #print {
	margin:0;
	padding:2px;
	vertical-align:baseline;
	}
/*Социальные закладки*/
div .sociable {margin:3em 0;}
	span.sociable_tagline_before {
	color:#898989;
	font-size:1em;
	line-height:1.3em;
	text-align:left;
	margin:0 0 1em 0;
	padding:0;
	position:relative;
	}
	span.sociable_tagline_after {
	color:#898989;
	font-size:0.8em;
	line-height:1.1em;
	margin:1em 0;
	padding:0;
	text-align:left;
	}
	span.sociable_tagline span {
	display:none;
	width:14em;
	max-width:360px;
	}
	ul.sociable_tagline_list, ul.sociable_tagline_list li {margin:0;padding:0;}
		ul.sociable_tagline_list li {margin:0;padding:0;}
			ul.sociable_tagline_list li:nth-child(1){margin:0;padding:0;}
		span.sociable_tagline:hover span {
		position:absolute;
		display:block;
		top:-5em;
		background:#ffe;
		border:1px solid #ccc;
		color:#000;
		line-height:1em;
		}
	.sociable span {display:block;}
	.sociable ul {display:inline;}
	.sociable li {
	background:none;
	display:inline;
	list-style-type:none;
	margin:0;
	padding:0 1px;
	}
		.sociable ul li:before {content:" ";}