/* Joostina install css */
.install-form .inputbox{
	width: 99%;
}

body {
	margin: 0px;
	padding: 0px;
	color: #333;
	background-color: #FFF;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.trongate-1 td {
}
.trongate-2 {
	background-color: lavender;
}
.login-text {
	text-align: center;
	width: 40%;
	float: left;
}
input, select, .button {
	font-size: 10px;
	border: 1px solid silver;
	background-color: #F1F1F1;
}
input.button {
	cursor: pointer;
}
textarea {
	font-size: 11px;
	border: 1px solid silver;
	background-color: #F1F1F1;
}
.text_area:focus,.text_area:hover, input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {
	background-color: #F9F9F9;
	border-color: #999999;
}

#wrapper {
	border: 0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
#header {
	background-color: #FFF;
	background-position: right top;
	background: url(img/top_bg.png);
}
#footer {
	height: 38px;
	position:fixed;
	bottom:0;
	top: expression(eval(document.body.scrollTop + 200) + "px");
	width:100%;
	background-color: #FFF;
	background-position: right top;
	background: url(img/top_bg.png);
}
#joomla {
	position: relative;
	width: 100%;
	background: url(img/version.png) no-repeat;
	background-position: top right;
	margin: 0px;
	padding: 0px;
}
#stepbar {
	background-color: #F1F1F1;
	width: 170px !important;
	width: 170px;
	height: 450px;
	font-size: 11px;
	float: left;
	text-align: left;
}
#step {
	width: 100%;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color: #666666;
	white-space: nowrap;
	float: left;
	padding-bottom: 10px;
}
#step span {
	width: auto;
	float: left;
}
.step-right {
	float: right;
	padding-right: 10px;
}
.step-on {
	color: #fff;
	background: #B0C4DE;
	font-weight: bold;
	font-size: 13px;
	padding: 10px;
	border: 1px solid #cccccc;
	margin-bottom: 2px;
}
.step-off {
	font-size: 13px;
	color: #999999;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #cccccc;
	margin-bottom: 2px;
}
#right {
	float: right;
	width: 605px !important;
	width: 595px;
	border-left: 1px solid #cccccc;
	padding-left: 10px;
}
#break {
	height: 20px;
}
.licensetext {
	text-align: left;
}
.license {
	padding: 0px;
	width: 600px;
	height: 500px;
}
.license-form {
	float: left;
}
.install {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 10px;
	border: 1px solid #cccccc;
	width: 800px;
	background: #F1F1F1;
}
.install h1 {
	font-size: 15px;
	font-weight: bold;
	color: #0B55C4;
	padding: 10px 10px 2px 0px;
	text-align: left;
	border-bottom: 1px solid Black;
	margin-bottom: 10px;
	background: #F1F1F1;
}
.install h2 {
	padding: 0px 0px 0px 0px;
	font-size: 15px;
	font-weight: bold;
}
.install-form div {
	position: relative;
	text-align: left;
	float: right;
}
.install-text {
	position: relative;
	text-align: left;
	float: left;
}
.form-block {
	width: 99%;
	border: 1px solid #cccccc;
	background: #E9ECEF;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}
.left {
	position: relative;
	text-align: left;
	float: left;
	width: 50%;
}
.right {
	position: relative;
	text-align: left;
	float: right;
	width: 50%;
}
.far-left {
	position: relative;
	text-align: left;
	float: left;
}
.clr {
	clear: both;
}
.ctr {
	text-align: center;
}
.button {
	border: solid 1px #cccccc;
	background: #E9ECEF;
	color: #666666;
	font-weight: bold;
	font-size: 11px;
	padding: 2px;
}
.button:hover {
	background: #D9E4F8;
}
table.content {
	width: 99%;
}
table.content td {
	color: #333333;
	font-size: 11px;
	width: 50%;
}
table.content2 {
	width: 99%;
	color: #333333;
	font-size: 11px;
}
table.content3 td {
	color: #333333;
	font-size: 11px;
}
.toggle {
	font-weight: bold;
}
/*  old stuff */
a {
	color: #000166;
	text-decoration: none;
}
a:hover {
	color: #30569D;
	text-decoration: underline;
}
a:active {
	color: #FF9900;
	text-decoration: underline;
}
.small {
	color: #333;
	font-size: 10px;
}
.error {
	color: red;
	font-size: 12px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
select.options, input.options {
	font-size: 8pt;
	border: 1px solid #999;
}
form {
	margin: 0px 0px 0px 0px;
}
.dottedline {
	border-bottom: 1px solid #333;
}
.installheader {
	color: #FFF;
	font-size: 24px;
}
textarea {
	color: #0000dd;
	font-family: Arial;
	font-size: 11px;
	border: 1px;
}
