.menu_vert1 {
	height: 132px;
	position: relative;
	width: 132px;
}

.menu_vert1 ul {
	background: #fff;
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 1px 1px 0 1px;
	text-align: left;
	white-space: nowrap;
}

.menu_vert1 li {
	list-style: none;
	margin: 0;
	padding: 0;
    display: inline-block;
	display: inline;
}


.menu_vert1 ul ul {
	left: -9999px;
	position: absolute;
}

.menu_vert1 ul.toplevel {
	left: 0;
	position: absolute;
	top: 0;
}

.menu_vert1 a {
	color: #000;
	display: block;
	font: normal 11px verdana, arial, sans-serif;
	line-height: 22px;
	padding: 0 20px 0 10px;
	text-decoration: none;
}

.menu_vert1 ul li:hover > ul {
	left: 100%;
	margin-left: -1px;
	margin-top: -23px;
}

.menu_vert1 a:hover ul, .menu_vert1 a:hover a:hover ul, .menu_vert1 a:hover a:hover a:hover ul {
	left: 100%;
}

.menu_vert1 a:hover ul ul, .menu_vert1 a:hover a:hover ul ul {
	left: -9999px;
}

.menu_vert1 li a:hover {
	background: #09c;
	color: #fff;
}

.menu_vert1 li:hover > a {
	background: #09c;
	color: #fff;
}

.menu_vert1 li a.fly {
	background: url(../images/arrow.png) no-repeat right ;
}

.menu_vert1 li a.fly:hover {
	background: #09c url(../images/arrow.png) no-repeat right ;
}

.menu_vert1 li:hover > a.fly {
	background: #09c url(../images/arrow.png) no-repeat right;
}

.menu_vert1 table {
	border-collapse: collapse;
	height: 0;
	left: 99%;
	margin-left: -1px;
	margin-top: -7px;
	position: absolute;
	width: 0;
}